@import "default.css";

.card {
    margin-top: 5%;
}

h5 {
    margin-left: 3%;
    color: #f37022;
}

h6, a {
    color: #f37022;
}

h6 {
    margin-bottom: 5%;
}

.form-btn {
    margin-top: 5%;
}

.card.large {
    height: fit-content;
}

.flow-text {
    font-size: 1rem;
}

.anuncio-link {
    margin: 3% 0 3% 0;
}

img {
    margin: auto;
}

.anuncio-conteudo{
    padding: 0px !important;
}

.anuncio {
    height: inherit;
}

.activator {
    padding: 5%;
}

.card {
    height: fit-content !important;
}