@import "default.css";

.anuncio-link {
    margin: 3% 0 4% 0;
}

img {
    padding: 5%;
}

.anuncio-conteudo{
    padding: 0px !important;
}

.anuncio {
    height: inherit;
    width: 100%;
}

h5 {
    margin-left: 3%;
    color: #f37022;
}

h6, a {
    color: #f37022;
}

p.flow-text {
    font-size: 1rem;
}

.anuncio {
    margin: 2% 2% 2% 3%;
}

.badge.blue {
    font-size: 0.7rem;
    display: inline !important;
}

.container {
    width: 80% !important;
    margin: 2% 10% auto 10%;
}

.card.horizontal {
    margin-top: 5%;
}

.trash {
    position: relative;
}

.mt-1 {
    margin-top: 10%;
}

.card.small {
    height: fit-content;
}