body {
    background-color: #eeecec;
}

.logo {
    font-size: 1.5rem;
}

.ad {
    font-weight: bold; 
}

.card {
    margin-top: 10%;
}

.card.large {
    height: 500px;
}

.danger {
    background-color: #dc3545 !important;
}
.dropdown-content li > a{
  font-size: 16px;
  color: #ff9800 !important;
  display: block;
  line-height: 22px;
  padding: 14px 16px;

}

.titleProduto{
    color: #ff9800 !important;
}

.homeblade{
    margin-top: 35px;
}
table.highlight tbody tr:hover {
    background-color: #eee !important;
}
table a{
    color: #ff9800 !important;
}

[type=checkbox].filled-in:checked + span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #ff9800 !important;
    background-color: #ff9800 !important;
    z-index: 0;
}

[type=checkbox].filled-in:disabled:not(:checked) + span:not(.lever):after {
    border: 2px solid #ff9800 !important;
    background-color: #fff;
}
.datepicker-date-display {
    flex: 1 auto;
    background-color: #ff9800 !important;
    color: #fff;
    padding: 20px 22px;
    font-weight: 500;
}
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #ff9800 !important;
    padding: 0 1rem;
}
.datepicker-table td.is-selected {
    background-color: #ff9800 !important;
    color: #fff;
}